{% extends "base.html" %}

{% block content %}

<div class="img-container-members-index"> 
    <div class="img-text-members-index">

        <h2>Active Gym Membership</h2>
        <br>
            {% for member in members %}
                {% if member.active_member == True %}
                <p>{{member.first_name}} {{member.last_name}}</p>
                <p><a href="/members/{{member.id}}/edit">Edit {{member.first_name}}'s details</a></p>
                <br>
                {% endif %}
            {% endfor %}
        <br>
        <br>
        <br>

        <h2>Inactive Gym Membership </h2>
        <br>
            {% for member in members %}
                {% if member.active_member != True %}
                <p>{{member.first_name}} {{member.last_name}} does <b>NOT</b> have active membership.</p>
                <p><a href="/members/{{member.id}}/edit">Edit {{member.first_name}}'s details</a></p>
                <br>
                {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}

