{% extends 'base.html' %}

{% block content %}

<div class="img-container-bookings-index"> 
       <div class="img-text-new-bookings-index">

        <h2>Book a member into a class</h2>
        <br>
        <form action="/bookings" method="post">

          <label for="member">Member Name:</label>
            <select name="member_id" id="member">
                {% for member in members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </select>

            <br>
            <br>
          
          <label for="session">Class Name:</label>
            <select name="session_id" id="sessionn">
                {% for session in sessions %}
                <option value="{{ session.id }}">{{ session.session_name }}</option>
                {% endfor %}
            </select>
            
            <br>
            <br>

          <button type="submit">Click here to book</button>

      </div>
    </form>


</div>


{% endblock %}