<!DOCTYPE html>
<html>
<head>
    <title>BodyStorm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <header class="logo_banner">
            <a href="/index"><img src="{{ url_for('static', filename = 'logo_black.svg')  }}" alt="BodyStorm_Logo"></a>
        </header>
        <nav>
            <ul class="list">
                <li><a href="/members" target ="" title="Click to edit members details">MEMBERSHIP</a></li>
                <li><a href="/members/new" target ="" title="Click to add new member">ADD NEW MEMBERS</a></li>
                <li><a href="/sessions" target ="" title="Click to edit class details">CLASSES</a></li>
                <li><a href="/sessions/new" target ="" title="Click to add new class">ADD NEW CLASS</a></li>
                <li><a href="/bookings" target ="" title="Click to see all bookings">BOOKINGS</a></li>
                <li><a href="/bookings/new" target ="" title="Click to add new booking">ADD NEW BOOKINGS</a></li>
            </ul>
        </nav>
    </header>
   

    <section id="content">
        {% block content %}

        {% endblock%}
    </section>


    <footer class = "footer_section">
        <p>	&copy;2021</p>
    </footer>

</body>
</html>

