<!DOCTYPE html>
<html>
<head>
    <title>BodyStorm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <header class="logo_banner">
            <a href="/index"><img src="{{ url_for('static', filename = 'logo_black.svg')  }}" alt="BodyStorm_Logo"></a>
        </header>
        <nav>
            <ul class="list">
                <li><a href="/members" target ="_blank">ALL MEMBERS</a></li>
                <li><a href="/members/new" target ="_blank">NEW MEMBERS</a></li>
                <li><a href="/sessions" target ="_blank">ALL SESSIONS</a></li>
                <li><a href="/sessions/new" target ="_blank">NEW SESSIONS</a></li>
                <li><a href="/bookings" target ="_blank">ALL BOOKINGS</a></li>
            </ul>
        </nav>
    </header>
   

    <section id="content">
        {% block content %}

        {% endblock%}
    </section>




</body>
</html>

